:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--text);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}

/* direct-link - permanent links to h1, h2, h3... */
.direct-link {
  color: var(--text);
  text-decoration: none;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: var(--text);
}

.direct-link:hover {
  text-decoration: underline;
}

/* tag in post */
.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin: 0.1em 0.8em 0 0.8em; /* 8px /10 */
  background-color: var(--darkgray);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].tag,
a[href].tag:visited {
  color: var(--white);
}

.web-screenshot {
  overflow: hidden;
  height: 200px;
}
