---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Recent Blog Posts</h1>

{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
