<ul class="postlist">
  {% for post in postslist | reverse %}
    <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
      <div class="container">
        <a href="{{ post.url | url }}" class="postlist-link">
          <h2>
            {% if post.data.title %}
              {{ post.data.title }}
            {% else %}
              <code>{{ post.url }}</code>
            {% endif %}
          </h2>
        </a>
        <div class="container-mobile">
          <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
          {% for tag in post.data.tags %}
            {%- if collections.tagList.indexOf(tag) != -1 -%}
              {% set tagUrl %}/tags/{{ tag }}/{% endset %}
              <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
            {%- endif -%}
          {% endfor %}
        </div>
      </div>
      <p class="post-summary">{{ post.template.frontMatter.content | summary }}</p>
    </li>

  {% endfor %}
</ul>