<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="shortcut icon" type="image/ico" href="/img/favicon.ico"/>
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <header>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <nav>
        {%- for entry in collections.all | eleventyNavigation %}
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        {%- endfor %}
      </nav>
      <h1>{{ metadata.title }}</h1>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>Styling based on <a href="https://simplecss.org">Simple.css</a>
    </footer>
    <!-- Current page: {{ page.url | url }} -->
    {% if env.NODE_ENV !== "development" %}
      <script data-goatcounter="https://mirulxyz.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    {% endif %}
  </body>
</html>
