---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>
<div class="container">
  <time class="postlist-date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
  {% for tag in tags %}
    {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
    {%- endif -%}
  {% endfor %}
</div>

{{ content | safe }}

<p>
  <a href="{{ '/' | url }}">← Home</a>
</p>